/* 
    Document   : add_product
    Created on : 25 Feb, 2023, 3:49:52 AM
    Author     : hp
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    background-color: white;
}

   body
{
    background-color: white;
}
.whitediv
{
    height: 500px;
    width: 50%;
    background-color: transparent;
    margin-left: 400px;
    margin-top: 50px;
    outline: 2px solid;
}
.image_div
{
    height: 500px;
    width: 500px;
    margin-top: 100px;
}
.btn
{
    margin-top: 50px;
    background-color: green;
    color: white;
    height: 40px;
    margin-left: -1px;
    width: 220px;
}

label
{
    margin-top: 30px;
    margin-left: 10px;
}
.textbox
{
    height: 50px;
    width: 250px;
    margin-top: 10px;
}