@charset "ISO-8859-1";
/* 
    Document   : Homepage_
    Created on : 1 Apr, 2023, 7:52:28 PM
    Author     : patil
    Description:
        Purpose of the stylesheet follows.
*/
label
{
	font-size: 30px;
	color: palevioletred;
	padding-top: 1px;
	padding-left: 20px;
}
root { 
    display: block;
}
.heading
{
    height:100px;
    background-color:lightcyan;
    text-align: center;
   
}
a
{
	font-size: 20px;
	padding-left: 30px;
	color: red;
}
.first
{
  
}
.second
{
    margin-top:20px;
    margin-left:30px;
}
.second:hover
{
   
   box-shadow:0 0 10px 0 gold inset,0 0 20px 2px #00d7c3;
   border:3px solid #00d7c3;

       
   }
.button
{
  width:320px;
  height:50px;
  border-radius:10px;
  background-color:lightseagreen;
  font-size:20px;
    
}
  .button:hover
   {
   background-color:yellow;   
   box-shadow:0 0 10px 0 gold inset,0 0 20px 2px #00d7c3;
   border:3px solid #00d7c3;

       
   }
   .third
   {
    margin-top:80px;   
       
   }
.inf
{
    margin-top:80px;
    margin-left:70px;
}
.head
{
   font-size:40px;
   color:red;
   margin-left:160px;
}


.ab 
{
    margin-left:850px;
    margin-top:-320px;
    font-size:20px;
    color:white;
}

#scanfcode
{
  border-radius:0px;
  background:#fff;
  padding:10px;
  font-size:17px;
 
}
/* logo or main heading */
#logo
{
  font-size:20px;
  font-weight:bolder;
  color:#00004d;
  letter-spacing:2px;
}
/* navigation links*/
#link a
{
  color:#01325d;
  margin:0 20px 0 10px;
  letter-spacing:1.5px;
}
/* navigation link with right border */
#first-link
{
  padding-right:6px;
  border-right:solid 1px #ccc;
}
/* sign up link button and toggle button */
#button-link ,#toogle-button
{
  color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: #fa6a48;
  line-height: 17px;
}
#button-link a
{
  color:#f2f2f2;
}
 
    
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-top:50px;
  
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.01s;
  animation-name: fade;
  animation-duration:1s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.btn
{
    background-color: orange;
    border: none;
    color: white;
}