@charset "ISO-8859-1";
.whitediv
{
	height: 500px;
	width: 700px;
	background-color: gainsboro;
	margin-left: 400px;
	margin-top: 50px;
}
label
{
	font-size: 50px;
	padding-left: 660px;
}
.button
{
	height: 50px;
	width: 300px;
	cursor: hand;
	background-color: bisque;
	margin-top: 50px;
	margin-left: 40px;
	 cursor: pointer;
}