@charset "ISO-8859-1";

h1
{
	font-size: 40px;
	font-family: Elephant;
}
            /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

body
{

}
/* Set a style for all buttons */
button {
  background-color:  #800000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.myclass{
     background-color:  #800000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btnsubmit
{
    background-color:  #800000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
    
}

/* Add a hover effect for buttons */
.input[type=submit] {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Extra style for the cancel button (red) */
.Forgotbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.B4,.B5
{
    width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


/* Center the avatar image inside this container */

.imgcontainer {
  text-align: center;
  margin: 10px 0 15px 0;
  font-family: "PinyonScriptRegular";
}

/* Avatar image */
img.avatar {
  width: 40%;
  height: 50%;
  border-radius: 100%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
*{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Calibri;
	color: #880000;
	font-style: bold;
}

header
{
	background-color: bisque;
	color: #FFD700;

}

header img
{
	
	width: 5%;
	margin-top: 15px;
	border-radius: 20px;
}

header h1{
	text-align: center;
	padding: 10px;
	font-size: 65px;
	text-shadow: 3px 3px 3px black;
	color: Gold;
}

header h2{
	text-align: center;
	padding: 10px;
	font-size: 65px;
	text-shadow: 3px 3px 3px black;
	color: #aa8531;
	background-color: white;
}

 /*nav means menus on top bar*/
nav ul  
{
	background-color: lightcyan	;
	color:#DAA520;
	text-align: center;
}


nav ul li,
nav ul li a
{
	display: inline-block;
	color: #DAA520;
	text-align: center;
	text-decoration-style: bold;
}

nav ul li a:link,
nav ul li a:visited
{
	text-decoration: none;
	padding: 8px;
	transition: all 0.9s;
	text-align: center;
}

nav ul li a:hover,
nav ul li a:active
{
	/*background-color: #00ffff;*/
	background-color: white; 
}

iframe{
	float: right;
}




footer{
	height: 100px;
	background-color: #505050;
	clear: both;
}

footer p {
	margin: 0px;
	padding: 0px;
	line-height: 100px;
	color: #fff;
	text-align: center;
}






