<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Online_Mobile_Shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>add_product</display-name>
    <servlet-name>add_product</servlet-name>
    <servlet-class>add_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_product</servlet-name>
    <url-pattern>/add_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_signup</display-name>
    <servlet-name>user_signup</servlet-name>
    <servlet-class>user_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_signup</servlet-name>
    <url-pattern>/user_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_login</display-name>
    <servlet-name>user_login</servlet-name>
    <servlet-class>user_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_login</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>all_product</display-name>
    <servlet-name>all_product</servlet-name>
    <servlet-class>all_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>all_product</servlet-name>
    <url-pattern>/all_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>product_inf</display-name>
    <servlet-name>product_inf</servlet-name>
    <servlet-class>product_inf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_inf</servlet-name>
    <url-pattern>/product_inf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart_page</display-name>
    <servlet-name>cart_page</servlet-name>
    <servlet-class>cart_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart_page</servlet-name>
    <url-pattern>/cart_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>address</display-name>
    <servlet-name>address</servlet-name>
    <servlet-class>address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>address</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment1</display-name>
    <servlet-name>payment1</servlet-name>
    <servlet-class>payment1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment1</servlet-name>
    <url-pattern>/payment1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order_list</display-name>
    <servlet-name>order_list</servlet-name>
    <servlet-class>order_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_list</servlet-name>
    <url-pattern>/order_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_signup</display-name>
    <servlet-name>admin_signup</servlet-name>
    <servlet-class>admin_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_signup</servlet-name>
    <url-pattern>/admin_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_product</display-name>
    <servlet-name>update_product</servlet-name>
    <servlet-class>update_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_product</servlet-name>
    <url-pattern>/update_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_order_list</display-name>
    <servlet-name>admin_order_list</servlet-name>
    <servlet-class>admin_order_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_order_list</servlet-name>
    <url-pattern>/admin_order_list</url-pattern>
  </servlet-mapping>
</web-app>